# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\3.Java\6.谷粒商城全\3.教学资料\2.微服务进阶篇\资料源码\代码\mall-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
